* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flexbox;
  background-color: rgb(231, 248, 212);
}
.report {
  background-color: rgb(232, 255, 127);
  display: block;
  width: 220px;
  height: 40px;
  font-size: 20px;
  margin: 25px;
  border-radius: 50px;
}

.report:hover{
  background-color: rgb(219, 253, 64);
  cursor: pointer;
}