* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flexbox;
  background-color: rgb(231, 248, 212);
}
.report {
  background-color: rgb(232, 255, 127);
  display: block;
  width: 220px;
  height: 40px;
  font-size: 20px;
  margin-top: 25px;
}
